


@light-bg-color: #fff;
@light-main-bg-color: #f0f2f5;
@light-border-color: #e4e7ed;

body {
	background-color: @light-bg-color !important;
	// #driver-highlighted-element-stage {
	// 		background-color: #fff !important;
	// }
}

.login-container {
  .login-box {
    background-color: hsl(0deg 0% 100% / 80%) !important;
  }
}


.container {
  .ant-layout {
    background-color: @light-main-bg-color !important;
    .tabs,
    .card {
      background-color: @light-bg-color !important;
      border-color: @light-border-color !important;
    }

    &-header {
      background-color: @light-bg-color !important;
      padding: 0 40px 0 20px;
    }
  }
}
